<!DOCTYPE html>
<html>
    <head>
        <title>Commands - Stewbot</title>
        <link href="global.css" rel="stylesheet" media="only screen and (min-width: 480px)"></link>
        <link rel="stylesheet" media="only screen and (max-width: 480px)" href="mobile.css"> 
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="Stewbot Commands List" property="og:title" />
        <meta content="The full command list for Stewbot, the bot designed to keep servers fun and engaging while also providing moderators the tools to keep things clean and safe." property="og:description" />
        <meta content="https://stewbot.kestron.com" property="og:url" />
        <meta content="https://stewbot.kestron.com/stewbot.jpg" property="og:image" />
        <meta content="#006400" data-react-helmet="true" name="theme-color" />
        <style>
            /*select{
                box-sizing:border-box;
                background-color:#006400;
                color:#00d7ff;
                font-size: 1.5rem;
                transition: 0.3s;
                text-align:center;
                cursor:pointer;
                text-decoration:none;
                border-style:solid;
                border-color: rgb(175,175,175) rgb(0,0,0) rgb(0,0,0) rgb(175,175,175);
            }
            select:hover{
                background-color:#00d7ff;
                color:#006400;
                text-decoration:none;
            }
            select:active{
                border-color:  rgb(0,0,0) rgb(175,175,175) rgb(175,175,175) rgb(0,0,0);
            }
            */

            /*option{
                box-sizing:border-box;
                background-color:#006400;
                color:#00d7ff;
                font-size: 1.5rem;
                transition: 0.3s;
                text-align:center;
                text-decoration:none;
                border-style:solid;
                border-color: rgb(175,175,175) rgb(0,0,0) rgb(0,0,0) rgb(175,175,175);
            }
            option:hover{
                background-color:#00d7ff;
                color:#006400;
                text-decoration:none;
                cursor:pointer;
            }
            option:active{
                border-color:  rgb(0,0,0) rgb(175,175,175) rgb(175,175,175) rgb(0,0,0);
            }*/

        </style>
    </head>
    <body>
        <% if(curDomain.includes("kestron.software")){ %>
            <div id="moving" style="width:100%;margin:0.5rem;background-color:rgb(255,255,0);color:#000;text-align:center;height:3rem;font-size:2rem;">
                This website is moving! Find us at <a href="<%= curDomain.replaceAll("kestron.software","kestron.com") %>">kestron.com</a>!
            </div>
        <% } %>
        <%- header %>
        <h1 class="centered" id="commands">Commands</h1>
        <div class="content">
            <h3>Filters</h3>
            <div class="searchWrapper">
                <label for="searchTerm">Search term:</label>
                <div class="searchInputGroup">
                    <input placeholder="Search term..." onChange="updateCommandList()" class="input" id="searchTerm">
                    <input type="button" value="Search" onclick="updateCommandList()" class="button" id="searchButton">
                </div>
            </div>
            <div class="filterOptions">
                <label>Filter Mode: 
                    <select name="filterMode" onchange="updateCommandList()" class="select" id="filterMode">
                        <option value="or">Or</option>
                        <option value="and">And</option>
                        <option value="not">Not</option>
                    </select>
                </label>
            </div>
            <div class="categoryFilters">
                <!-- TODO: pull these categories from the ./commands/modules/Categories.js file of stewbot source -->
                <p>Categories:</p>
                <% categories.forEach(a=>{ %>
                    <label class="categoryLabel"><input type="checkbox" name="<%= a %>" class="categoriesCheckboxes" checked="true" onchange="updateCommandList()"> <%= a %></label>
                <% }); %>
            </div>
        </div>
        <div id="commandsDiv">
        </div>
        <div hidden="true" id="helpCommandsDump"><%= JSON.stringify(helpCommands) %></div>
        <script>
            var helpCommands=JSON.parse(document.getElementById("helpCommandsDump").textContent);
            let colors = {
                // First one in list is highest priority
                "Module": "grey",
                "Context_Menu": "grey",
                "Safety": "red",
                "Bot": "darkCyan",
                "Administration": "red",
                "Configuration": "blue",
                "Entertainment": "darkGreen",
                "Information": "brown",
                "General": "brown",
                "Server_Only": "brown"
            };
            const catImportance = Object.keys(colors)
            function updateCommandList(){
                var searchTerm=document.getElementById("searchTerm").value;
                var mode=document.getElementById("filterMode").value;
                var cats=document.getElementsByClassName("categoriesCheckboxes");
                var categories=[];
                for(var i=0;i<cats.length;i++){
                    if(cats[i].checked) categories.push(cats[i].name);
                }
                var newCommands=structuredClone(helpCommands).filter(command=>{
                    switch(mode){
                        case 'and':
                            var ret=true;
                            categories.forEach(category=>{
                                if(!command.helpCategories.includes(category)){
                                    ret=false;
                                }
                            });
                            return ret&&(command.name.includes(searchTerm)||command.shortDesc.includes(searchTerm)||command.detailedDesc.includes(searchTerm));
                        break;
                        case 'or':
                            var ret=false;
                            categories.forEach(category=>{
                                if(command.helpCategories.includes(category)){
                                    ret=true;
                                }
                            });
                            return ret&&(command.name.includes(searchTerm)||command.shortDesc.includes(searchTerm)||command.detailedDesc.includes(searchTerm));
                        break;
                        case 'not':
                            var ret=true;
                            categories.forEach(category=>{
                                if(command.helpCategories.includes(category)){
                                    ret=false;
                                }
                            });
                            return ret&&(command.name.includes(searchTerm)||command.shortDesc.includes(searchTerm)||command.detailedDesc.includes(searchTerm));
                        break;
                    }
                });
                var divPrintOut=``;
                for(var i=0;i<newCommands.length;i++){
                    let highestPriorityCat = newCommands[i].helpCategories.reduce((a, b) => 
                        catImportance[a] > catImportance[b] ? a : b)

                    divPrintOut+=`
                        <div class="command ${colors[highestPriorityCat] || "grey"}">
                            <h6>${newCommands[i].helpCategories.join(", ")}</h6>
                            <h2>${newCommands[i].name}</h2>
                            <h5>${newCommands[i].shortDesc}</h5>
                            <p>
                                ${newCommands[i].detailedDesc}
                            </p>
                            ${newCommands[i].helpCategories.includes("Context Menu")?`<h5>This is a context menu command. <a href="contextMenu" target="_blank">How to use the context menu</a></h5>`:``}
                        </div>`;
                }
                document.getElementById("commandsDiv").innerHTML=divPrintOut;
            }
            updateCommandList();
        </script>
        <%- footer %>
    </body>
</html>
